.min-h-screen {
  min-height: 100vh;
}

:root {
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d7dde4;
}
